html {
    -moz-user-select: none;
    user-select: none;
}

.highlighted {
    background-color: rgb(130, 90, 240);
}

@font-face {
    font-family: 'Header';
    src: url('../assets/fonts/IBMPlexSans-Bold.ttf');
}

@font-face {
    font-family: 'Standard';
    src: url('../assets/fonts/NotoSans-Light.ttf');
}

@font-face {
    font-family: 'Block';
    src: url('../assets/fonts/FlowBlock-Regular.ttf');
}

.mainButton {
    height: 50px; 
    width: 150px; 
    border: 0; 
    border-radius: 5px; 
    font-size: 20px; 
    color: white;
    margin: 5px;
    cursor: pointer;
}

.homepage {
    background-image: url(../assets/icons/home-background.svg); 
    background-size: auto 100%; 
    background-repeat: repeat-x;
    background-color: rgb(20, 20, 20);
    height: 100%;
    color: white;
    font-family: Standard;
    text-align: center;
}

.hpHeader {
    font-family: Header; 
    font-size: 30px;
}

.hpSubHeader {
    font-family: Standard; 
    font-size: 25px;
}

.hpText {
    font-family: Standard; 
    font-size: 20px;
    font-weight: 100;
}

.room-button {
    width:100%; 
    height:60px; 
    font-size: 20px;
    border-radius: 0;
    border-bottom: rgb(40, 40, 40) 1px solid;
}

.agreement-label {
    color: white;
    font-family: Standard;
}

.offscreen {
    content-visibility: auto;
    contain-intrinsic-size: 100px 100px;
}

body {
    background-color: rgb(20, 20, 20);
    overflow: hidden;
}

#notif-board {
    width:100%; 
    height:80%; 
    background-color:rgb(15, 15, 15); 
    overflow-y:auto;
    text-align: center;
}

#datDisplay {
    width:100%; 
    height:80%; 
    background-color:rgb(15, 15, 15); 
    overflow-y:auto;
    word-wrap: break-word;
    color: white;
}

#notif-board h1 {
    width: 100%;
}

#sidebar {
    position:fixed; 
    background-color: rgb(15, 15, 15); 
    top:0; 
    right:0; 
    width:25%; 
    height:100%;
}

#sidebartoggler {
    width:60px; 
    height:90%; 
    font-family: Header; 
    font-weight: 80; 
    font-size: 20px; 
    margin:5px;
}

#room-display {
    overflow-y: auto; 
    overflow-x: hidden; 
    width: calc(100% - 10px); 
    height: calc(100% - 130px);
    margin:5px; 
    margin-bottom: 0;
    background-color: rgb(30, 30, 30); 
    border-radius: 10px
}

#room_name_display {
    font-family: Header; 
    font-size: 25px; 
    line-height: 30px; 
    font-weight: 100;
    display: inline;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -15px;
}

#bottom_bar {
    position:fixed; 
    background-color: rgb(25, 25, 25); 
    width:75%; 
    bottom:0; 
    left:0; 
    box-sizing: border-box; 
    padding:8px; 
    min-height: 60px;
}



#msgctxmenu {
    position: absolute; 
    z-index: 6; 
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    box-shadow: 0px 0px 10px black;
}

.ctx-menu-button {
    width: 110px; 
    height: 30px;
    border-radius: 0;
}



#msgtxt {
    width:calc(100% - 55px); 
    font-size: 20px; 
    min-height:40px; 
    font-family: Standard; 
    font-weight: 100;
}

#sendbtn {
    vertical-align: bottom;
    height: 44px;
    cursor: pointer;
}

#addbtn {
    width:100%; 
    height:100%; 
    font-family: Header; 
    font-weight: 80; 
    font-size: 20px; 
    padding-top: 5px; 
    display: inline-block;
}

#header_bar {
    position:fixed; 
    background-color: rgb(50, 50, 50); 
    top:0; 
    left:0; 
    width:75%; 
    height:60px;
    box-shadow: 0px 0px 10px black;
}

.sidebar-header-button {
    width:50%; 
    height:90%; 
    font-family: Header; 
    font-weight: 80; 
    font-size: 20px; 
    margin:5px;
}

.header-button-icon {
    display: inline;
    vertical-align: middle;
    height: 25px;
}

#menu-bg {
    border-radius: 10px; 
    background-color: rgb(25, 25, 25); 
    text-align: center; 
    max-height: calc(100% - 20px); 
    max-width: calc(100% - 20px); 
    box-shadow: 0px 0px 10px black;
}

.sidebar-footer {
    padding:5px; 
    width:calc(100% - 10px); 
    height:55px; 
    display:relative; 
    bottom:0; 
    left:0; 
    background-color: rgb(15, 15, 15); 
    white-space: nowrap;
}

.softhr {
    width: calc(100% - 40px); 
    border-color: rgb(100, 100, 100)
}

.sidebar-header {
    position:relative; 
    top:0; 
    left:0; 
    width:100%; 
    height:60px; 
    display: flex;
}

h1, .standardText {
    color:white;
    font-family: "Standard";
    font-size: 18px;
}

button {
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: "Standard";
    border: 0;
    cursor: pointer;
    transition: background-color .2s;
}

button:hover{
    background-color: rgb(35, 35, 35);
}

textarea, .textinput {
    resize: none;
    background-color: rgb(30, 30, 30);
    color:white;
    border: 0;
    border-radius: 10px;
    height: 25px;
    font-size: 20px;
    outline: none;
}

.textinput {
    width: 40vh; 
    max-width:100%; 
    height: 3.5vh; 
    border-radius: 1vh; 
    font-size: 3vh;
    overflow: hidden;
}


@keyframes notifanim {
    0% {
        transform: translateY(-50%) translateX(-50%);
        
    }
    10% {
        transform: translateY(110%) translateX(-50%);
    }
    90% {
        transform: translateY(110%) translateX(-50%);
    }
    100% {
        transform: translateY(-50%) translateX(-50%);
    }
}

.notif {
    width: 500px;
    max-width: 90%;
    height:60px;
    color: white;
    border-radius: 1vh;
    z-index: 3;
    position:fixed;
    text-align: center;
    top: -5%;
    left: 50%;
    box-shadow: 0px 0px 10px black;
}
  
.notif_anim {
    animation-name: notifanim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.center_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.chat_bubble {
    width:fit-content;
    border-radius: 5px;
    word-wrap:break-word;
    max-width: 70%;
    padding: 4px;
    margin: 5px;
}

.message-container {
    background-color: transparent;
}

.message-container:hover {
    background-color: rgba(255, 255, 255, .05);
    transition: background-color .2s;
}

.message-content {
    font-weight: 100;
    color:white;
    font-family: "Standard";
    font-size: 20px;
}

.message-user {
    font-weight: 100; 
    font-size: 15px; 
    height: 10px; 
    margin-left: 5px;
    color:white;
    font-family: "Standard";
}

.message-right {
    position:relative; 
    transform: translateX(-100%); 
    left:calc(100% - 10px);
}

.roombrowser-card {
    width:400px;
    max-width:90%; 
    aspect-ratio:3/2; 
    max-width:80%; 
    margin: 10px;
    position: relative;
}

.msg-content {
    border-radius: 10px;
    max-width: 100%;
    max-height: 300px;
}

.userdescription {
    color:white;
    font-family: "Standard";
    font-size: 18px;
    background-color: rgb(31, 31, 31);
    width:400px;
    height: 200px;
    border-radius: 1vh;
    position: relative; 
    max-width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.block {
    display: inline-block;
    vertical-align:top;
}

.header-btn {
    border-radius: 0;
    width:40px; 
    height:40px; 
    cursor:pointer;
    transition: .2s;
    background-color: transparent;
    border-radius: 5px;
    margin-top: 10px;
    display: inline;
}

.header-btn:hover{
    background-color: rgb(100, 100, 100);
    padding: 5px;
    margin-top: 5px;
    margin: -5px;
}

.mention {
    color: gold;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 5px;
    display: inline;
    font-size: 18px;
    padding: 2px;
}

.mention:hover {
    background-color: rgba(255, 255, 255, .3);
}

#mention-popup {
    box-shadow: 0px 0px 10px black;
    background-color: rgb(25, 25, 25); 
    width: 300px; 
    border-radius: 10px; 
    position: absolute; 
    left: 10px; 
    bottom: 0px; 
    overflow: hidden; 
    max-width: 90%;
}

.bar-btn {
    width: 90%; 
    height: 50px; 
    font-size: 20px; 
    border-radius: 10px; 
    margin-top: 10px;
}

.header-right-container {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
}

#personal-profile-btn {
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    padding: 0;
}

#personal-profile-btn:hover {
    background-color: rgb(60, 60, 60);
}

#personal-pfp-display {
    width:40px; 
    height:40px; 
    display: inline-block;
}

#personal-username-display {
    vertical-align: top;
    margin-right: 5px;
}


.unread-ind {
    width: 10px; 
    height: 10px; 
    border-radius: 5px; 
    position: relative; 
    display: inline-block;
    margin: 5px;
}


#msgs {
    position: fixed; 
    bottom:60px; 
    left:0; 
    width:75%; 
    overflow-y: scroll; 
    overflow-x: hidden;
    max-height: calc(100% - 120px);
    scroll-behavior: smooth;
}

#msgtxt {
    border-radius: 10px;
}


#outer {
    position: relative;
  }
  
#inner {
margin: auto;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
}

a:link {
    color: rgb(206, 201, 255);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
color: rgb(235, 183, 255);
background-color: transparent;
text-decoration: none;
}

a:hover {
color: rgb(255, 255, 255);
background-color: transparent;
text-decoration: underline;
}

a:active {
color: rgb(255, 255, 255);
background-color: transparent;
text-decoration: underline;
}



.document-body {
    background-color: black;
    color:white;
    font-size: 20px;
    overflow-y: scroll;
    white-space: pre-wrap;
}

.document-subheader {
    font-size: 25px;
}

.document-header {
    font-size: 30px;
}

.document-disclaimer {
    font-weight: 100;
    color: rgb(200, 200, 200);
}




#login-bg {
    border-radius: 2vh; 
    background-color: rgba(25, 25, 25, 0.5); 
    width: fit-content; 
    height: fit-content; 
    text-align: center; 
    margin:6vh;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.login-sub-bg {
    padding:6vh; 
    max-width:100%;
}

.login-btn {
    width: 40vh; 
    height: 10vh; 
    font-size: 3vh; 
    border-radius: 1vh; 
    max-width:100%; 
    margin-top: 3vh
}

.login-button-small {
    margin-top: 1vh !important;
    height: 4.5vh !important;
}

.login-label {
    height:2.5vh; 
    font-size:3vh; 
    display:inline-block;
}

.login-header {
    font-family: Header; 
    font-size: 4.5vh; 
    width:fit-content; 
    display:inline-block;
}

#agreement {
    height: 2vh;
    width: 2vh;
}

.agreement-label {
    font-size: 2vh;
    line-height: 2vh;
}


#login_anim {
    position: absolute; 
    width:100%; 
    height:100%; 
    z-index: -1; 
    top:0; 
    left:0; 
    overflow:hidden;
}

.copyright-claim {
    position:absolute; 
    bottom:0; 
    left:0; 
    color: blueviolet; 
    font-size: 4mm;
}

.claim-link {
    color: rgb(89, 0, 255);
}

.settings-option-text {
    font-size:20px; 
    display: inline; 
    vertical-align: middle; 
    font-weight: 100;
}

.settings-section-header {
    font-size: 25px;
    font-weight: 5000;
    margin-top: 50px;
}

.settings-header {
    font-size: 30px;
    font-family: 'Header';
}




::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
background: rgb(41, 41, 41);
}

::-webkit-scrollbar-thumb {
background: #888;
}

::-webkit-scrollbar-thumb:hover {
background: #555;
}


#xbtn {
    width:40px; 
    height:25px; 
    border-radius:5;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    font-weight: 200;
}


.profilepic {
    border-radius: 25%; 
    width:50px; 
    height:50px; 
    display:inline-block; 
    margin: 5px;
    cursor: pointer;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
}


.catalog-container {
    border-radius: 20px;
    overflow: hidden;
    width: 90%;
    height: calc(100% - 200px);
    display: inline-block;
    overflow-y: scroll;
    background-color: rgb(22, 22, 22);
    border: 2px solid rgb(40, 40, 40);
    overflow-x: hidden;
}

.catalog-splitter {
    height: 20px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    color: white;
    font-family: Standard;
}

.catalog-row {
    width: 100%;
    height: 90px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: -5px;
    white-space: nowrap;
    background-color: rgb(22, 22, 22);
    display: inline-block;
    padding: 5px;
}

.catalog-item {
    height: 70px;
    width: 70px;
    padding: 5px;
    display: inline;
    background-color: rgb(25, 25, 25);
    border-radius: 5px;
    display: inline-block;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    cursor: pointer;
    vertical-align: top;
}

.catalog-item:hover {
    background-color: rgb(30, 30, 30);
}

.catalog-item-img {
    width: 100%;
    border-radius: 5px;
}











/* Thanks W3schools (i stole it muahahaha) */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch .switch-input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

.switch-input:checked + .switch-slider {
    background-color: rgb(120, 100, 215);
}

.switch-input:checked + .switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}